/* 
	Thanks for checking out my code!!


	Copyright Adam Gedney 11/22/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/


/*----------------SASS------------------*/
$white: #f7f7f7;
$off-white: #eeeeee;
$light-gray: #D3D3D3;
$dark-gray: #333;
$red: #a21d1b;
$gold: #f1c40f;/*HACK -same as uiyellow*/
$blue: #427FA5;
$dark-blue: #10567f;
$light-blue: #1978ae;
$bg-blue: #ddebf3;
$green: #5888a3;
$button-green: #27ae60;

/*flatui colors*/
$uired: #c0392b;
$uiorange: #f39c12;
$uicarrot: #e67e22;
$uiyellow: #f1c40f;
$uigreen: #27ae60;
$uiturq: #16a085;
$uiblue: #2980b9;
$uipurple: #8e44ad;


@mixin duration($time: .7s){
		transition-duration: $time;
-webkit-transition-duration: $time;
}

@mixin gradient(){
	background: $blue; /* Old browsers */
background: -moz-linear-gradient(top,  $blue 0%, $dark-blue 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$blue), color-stop(100%,$dark-blue)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $blue 0%,$dark-blue 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $blue 0%,$dark-blue 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $blue 0%,$dark-blue 100%); /* IE10+ */
background: linear-gradient(to bottom,  $blue 0%,$dark-blue 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#$blue', endColorstr='$dark-blue',GradientType=0 ); /* IE6-9 */

}




/*--------------------------------------Start CSS Reset---------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ul {
list-style: none;
}






/*--------------------------------------End CSS Reset / Start General-------------------------------*/


body{
background: $white;
color: $white;
font: 62.5% 'Raleway', sans-serif;
}

body.home{
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
font-size: 4.5em; /*18x4*/
line-height: 1.5;
// font-family: 'Tangerine', cursive;
}

h2{
font-size: 2.7em;/*18x3*/
line-height: 1.5;
}

h3{
font-size: 2.1em;
line-height: 1.5;
}

p, ul, dl, label{
font-size: 1.8em;
font-weight: 100;
line-height: 1.5;
margin-bottom: 20px;
}

ul{
line-height: 1.5;
}

a{
text-decoration: none;
color: $blue;
opacity: 1;
outline: none;
}

a:visited{
	outline: none;
}

a:hover, input[type="submit"]:hover{
opacity: .5;
@include duration;
}

a.no-tran:hover{
	opacity: 1;
}

img{
	max-width: 100%;
}

textarea{
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.button, input[type=submit]{
	background: $gold;
	color: $dark-gray;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $light-gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   $light-gray;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $light-gray;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $light-gray;
}

/*--------------------------------------End General / Start Objects------------------------------------*/


.hide-text{
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}

.red{
	color: $red;
}

.bold{
	font-weight: 700;
}

.underline{
	text-decoration: underline;
}

.error{
	font-size: 1em;
	color: $red;
	position: absolute;
	opacity: 0;
	margin-top: -13px;
	font-size: .9em;
	@include duration;
}

/*--------------------------------------End Objects / Start Main------------------------------------*/

.container{
	overflow: hidden;
}

header{
	height: 60px;
	background: $dark-gray;
	overflow: hidden;
	padding: 9px 3% 0;
	// position: fixed;
	opacity: .8;
	// width: 100%;

	img{
		display: inline-block;
		float: left;
	}
}

nav{
	display: inline-block;
	float: right;
	// padding-left: 2%;
	overflow: hidden;

	li{
		display: inline-block;
		padding-right: 18px;
		line-height: 60px;
	}

	li:last-child{
		padding-right: 0;
	}

	a{
		color: $white;
	}
}


.page{
	min-height: 612px; /*18x40 -was 720*/
	padding: 0 3%;
	background: $white;
}

.page:first-child{
	background: none;
	-webkit-box-shadow: inset 0px -2px 5px rgba(50, 50, 50, 0.39);
	   -moz-box-shadow: inset 0px -2px 5px rgba(50, 50, 50, 0.39);
		    box-shadow: inset 0px -2px 5px rgba(50, 50, 50, 0.39);
}

.page-inner{
	padding: 90px 0;
	overflow: hidden;
	width: 98%;
	margin: 0 1%;

	h1{
		color: $dark-gray;
	}
}

.featured-info{
	width: 66.6666%;
	margin-top: 81px;
	float: left;
	// color: $dark-gray;

	h1{
		margin-bottom: 27px;
		opacity: .8;
		color: $white;
	}

	p{
		opacity: .8;
		max-width: 500px;
		font-size: 2.3em;
		margin-bottom: 36px;
	}

	.button{
		opacity: .8;
		display: block;
		width: 40%;
		border: none;
		height: 54px;
		font-size: 2.1em;
		font-weight: 100;
		line-height: 54px;
		text-align: center;
	}
}

.landing-img{
	float: right;
	width: 33.33333%;
	max-width: 381px;
}




.what{
	// padding-bottom: 99px;

	h1{
		text-align: center;
		margin-bottom: 36px;
	}
}

.box{
	width: 33.333333%;
	height: 486px;
	float: left;
	overflow: hidden;
	margin-bottom: 108px;
	margin-top: 36px;
	position: relative;

	h2{
		color: $dark-gray;
		text-align: center;
		margin-bottom: 9px;
	}
}

.box:last-child{
	margin-right: 0;
}

.box-inner{
	height: 216px;
	width: 256px;
	background: $blue;
	margin: 0 auto;
	position: relative;

	img{
		position: absolute;
		left: 16%;
		top: 18%;
	}

	.button{
		background: $dark-blue;
		color: $white;
		display: block;
		width: 256px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		position: absolute;
		top: 220px;
		font-size: 1.8em;
	}

	h3{
		position: absolute;
		top: 283px;
		color: $dark-gray;
	}

	p{
		position: absolute;
		top: 318px;
		color: $dark-gray;
		line-height: 1.3em;
	}
}


.span-columns{
	clear: both;
	color: $dark-gray;
	width: 60%;
	margin: 0 20%;
}








.request{
	background: $bg-blue;
	color: $dark-blue;
	min-height: 504px;

	.page-inner{
		padding-bottom: 36px;
		padding-top: 156px;
	}

	.box{
		width: 50%;
		height: 522px; /*18x29*/
		margin-top: 0;
	}

	h1{
		color: $dark-gray;
		margin-bottom: 36px;
	}

	h2{
		text-align: left;
		color: $dark-blue;
	}

	ul{
		li{
			background: url(../images/check.png) no-repeat;
			text-indent: 30px;
			margin-bottom: 9px;
		}
	}

	.features{
		margin-top: 90px;
		margin-bottom: 0;
	}
}




.form{
	background: $blue;
	width: 450px;
	height: 80%;
	// margin: 0 auto;
	float: right;
	padding: 36px 0 63px;

	form{
		width: 262px;
		margin: 0 auto;
		overflow: hidden;
}

	input{
		width: 254px;
		height: 29px;
		border: none;
		padding: 3px;
		border-radius: 2px;
		display: inline;
		margin-bottom: 12px;
		float: right;
		font-size: 1.8em;
		// color: $light-gray;
	}

	input[type=submit]{
		color: $dark-gray;
		clear: both;
		height: 45px;
		font-size: 1.8em;
		border-radius: none;
		float: left;
		// margin-left: 9px;
		margin-top: 18px;
	}

	label{
		// margin-left: 10px;
		margin-bottom: 0;
		font-size: 1.6em;
		line-height: 1.2em;
		color: $dark-gray;
		font-weight: 400;
		display: inline;
		text-align: right;
		float: left;
	}
}



.checkboxes{
	width: 200px;
	float: left;
	overflow: hidden;
	// padding-left: 4px; /*nudges checkboxes over*/

	input[type=checkbox]{
		width: 18px;
		height: 18px;
		border: none;
		margin-bottom: 9px;
		float: left;
		clear: left;
	}

	p{
		font-size: 1.4em;
		color: $dark-gray;
		float: left;
		margin: 0;
		line-height: 27px;
	}
}







.how{
	padding-top: 36px;
	// padding-bottom: 54px;

	h1{
		text-align: center;
		color: $dark-gray;
		margin-bottom: 72px;
	}

	p{
		-moz-column-count:2; /* Firefox */
		-webkit-column-count:2; /* Safari and Chrome */
		column-count:2;

		-moz-column-gap:72px; /* Firefox */
		-webkit-column-gap:72px; /* Safari and Chrome */
		column-gap: 72px;

		color: $dark-gray;
		width: 95%;
		margin: 36px 2.5%;
	}

	
}

.social{
	overflow: hidden;
	height: 300px;
	position: relative;

	.box{
		width: 25%;
		height: 100%;

		.box-inner{
			width: 136px;
			// height: 400px;
			background: none;
			margin: 0 auto;

			img{
				position: relative;
				top: 0;
				left: 0;
				width: 126px;
				margin: 0 auto;
				text-align: center;
				display: block;
			}


			h3{	
				position: absolute;
				top: 126px;
				left: 0;
				right: 0;
				font-size: 1.8em;
				color: $dark-gray;
				line-height: 36px;
				text-align: center;
			}
		}
	}
}





/*----------------------------------RFP Page overwrites-----------------------------*/

.rfp{
	.page:first-child{
		background: $white;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
			    box-shadow: none;
		border-bottom: 1px solid $light-gray;    
	}

	.form{
		background: none;
		float: left;

		input{
			border: 1px solid $light-gray;
		}
	}
}






/*----------------------------------Thank You Page overwrites-----------------------------*/
.thankyou{
	.page:first-child{
		background: $white;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
			    box-shadow: none;
		border-bottom: 1px solid $light-gray;    
	}

	.how{
		padding-bottom: 36px;

		p{
			-moz-column-count:1; /* Firefox */
			-webkit-column-count:1; /* Safari and Chrome */
			column-count:1;

			color: $dark-gray;
			width: 50%;
			margin: 36px 25% 72px;
		}
	}
}






/*----------------------------------Services Page overwrites-----------------------------*/
.services-page{
	position: relative;

	header{
		opacity: 1;
	}

	.page:first-child{
		height: 1700px;
		background: $white;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
			    box-shadow: none;
		border-bottom: 1px solid $light-gray;    
	}

	h1{
		text-align: center;
		margin-bottom: 90px;
	}


	.box{
		height: 366px;
		margin-bottom: 72px;
		margin-top: 0;

		.box-inner{
			width: 313px;
			background: none;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;

			h2{
				color: $dark-gray;
				line-height: 1em;
				padding-top: 18px;
			}

			img{
				position: absolute;
				left: 28%;
				top: 42%;
			}

			p{
				background: $off-white;
				top: 216px;
				padding: 18px;
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
			}
		}

		.uired{
			background: $uired;
		}
		.uiorange{
			background: $uiorange;
		}
		.uicarrot{
			background: $uicarrot;
		}
		.uiyellow{
			background: $uiyellow;
		}
		.uigreen{
			background: $uigreen;
		}
		.uiturq{
			background: $uiturq;
		}
		.uiblue{
			background: $uiblue;
		}
		.uipurple{
			background: $uipurple;
		}

	}


}






/*-------------------------------Individual Services Page Styles--------------------------*/
.desc{
	color: $dark-gray;


	p,h1,h2,h3, ul{
		width: 66.66666%;
		margin: 0 16.666665%;
		text-align: left;
	}

	p, ul{	
		margin-bottom: 36px;
	}

	ul{

		li{
			background: url(../images/check.png) no-repeat;
			text-indent: 30px;
			margin-bottom: 9px;
		}
	}

	.social{
		margin-top: 72px;
	}
}


.bullet-wrapper{
	overflow: hidden;
	width: 66.66666%;
	margin: 0 16.666665%;

	h3{
		margin-left: 0;
		margin-bottom: 9px;
	}
	ul{
		display: inline-block;
		float: left;
		width: 44.4444433%;
		margin: 0;

		li{
			font-size: .9em;
		}
	}

	.service-image{ /*image width 485px*/
		float: right;
		width: 44.4444433%;
	}
}

.svsbutton{

		background: $uigreen;
		display: block;
		width: 30%;
		border: none;
		height: 54px;
		font-size: 2.1em;
		font-weight: 100;
		line-height: 54px;
		text-align: center;
		margin: 108px 35%;
		float: none;
}

/*----------------------------------seo-audit Page overwrites-----------------------------*/

body.individual-services{

	header{
		opacity: 1;
	}

	.page:first-child{
		min-height: 0;
	}

	.featured-info{
		margin-top: 0;
		color: $dark-gray;

		h1{
			color: $dark-gray;
			opacity: 1;
		}

		.button{
			background: $dark-gray;
			color: $white;
			opacity: 1;
		}
	}
}

.seo-audit{
	.page:first-child{
		background: $uigreen;
	}
}

.web-dev{
	.page:first-child, .svsbutton{
		background: $uiyellow;
	}
}

.search-opt{
	.page:first-child, .svsbutton{
		background: $uired;
	}
}

.key{
	.page:first-child, .svsbutton{
		background: $uiorange;
	}
}

.bl-analysis{
	.page:first-child, .svsbutton{
		background: $uipurple;
	}
}

.bl-package{
	.page:first-child, .svsbutton{
		background: $uiturq;
	}
}

.web-testing{
	.page:first-child, .svsbutton{
		background: $uiblue;
	}
}

.copywriting{
	.page:first-child, .svsbutton{
		background: $uicarrot;
	}
}

.penalty-recovery{
	.page:first-child, .svsbutton{
		background: $uiyellow;
	}
}


/*---------------------------------------------Contact Page------------------------------------*/

.contact-page{

	header{
		opacity: 1;
	}

	.page{
		height: 666px;
		padding-bottom: 108px;
	}

	.page:first-child{
		box-shadow: none;
		border-bottom: 1px solid $light-gray;
	}

	.form{
		background: none;
		float: left;
		height: 500px;
		border-radius: 2px;
		width: 420px;

		form{
			width: 320px;
		}

		input{
			border: 1px solid $light-gray;
			width: 312px;
			float: right;
		}

		textarea{
			width: 312px;
			height: 150px;
			border: 1px solid $light-gray;
			border-radius: 2px;
			padding: 3px;
		}

		input[type=submit]{
			width: 320px;
			// background: $button-green;
		}
	}

	.features{
		color: $dark-gray;
		width: 33%;
		float: right;
		width: 33.33333%;
		margin-top: 126px;

		h1{
			line-height: 1em;
		}

		h2{
			text-align: left;
			margin-bottom: 27px;
			color: $blue;
		}

		h3{
			margin-top: 18px;
		}

		p{
			text-align: left;
			margin-bottom: 3px;
		}
	}
}

.contact-wrapper{
	width: 70%;
	margin: 0 15%;

	.box{
		height: 600px;
		width: auto;
	}
	
}




















footer{
	height: 162px; 
	padding: 14px 2% 0;
	background: $dark-gray;
	overflow: hidden;

	nav{
		width: 220px;
		margin: 18px auto 9px;
		display: block;
		float: none;

		ul{
			margin: 0;

			li{
				line-height: 1.2em;
			}
		}

	}

	p{
		font-size: 1.2em;
		width: 100%;
		display: inline-block;
		text-align: center;
		margin: 0 auto;
	}
}

