/* 
	Thanks for checking out my code!!


	Copyright Adam Gedney 11/22/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/
/*---------------Import Zen framework------------*/
/*http://zengrids.com/*/
/*total col in grid
half gutter used on each side of each col*/
/* line 21, main.scss */
.container {
  /*apply this to container*/
}
/* line 46, _grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 50, _grids.scss */
.container:after {
  clear: both;
}

/* line 26, main.scss */
.aside1 {
  /*required on each grid item in the container*/
  float: left;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: -16.66667%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 31, main.scss */
.content {
  /*makes grid item span 4 cols*/
  /*positions grid item in 3rd col*/
  float: left;
  width: 33.33333%;
  margin-left: 16.66667%;
  margin-right: -50%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 37, main.scss */
.aside2 {
  float: left;
  width: 8.33333%;
  margin-left: 50%;
  margin-right: -58.33333%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 41, main.scss */
.footer1 {
  /*apply this mixin to start a new row*/
  clear: left;
  float: left;
  width: 25%;
  margin-left: 33.33333%;
  margin-right: -58.33333%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 47, main.scss */
.footer2 {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*----------------SASS------------------*/
/*--------------------------------------Start CSS Reset---------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* line 90, main.scss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, code, del, em, img, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 100, main.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 104, main.scss */
ul {
  list-style: none;
}

/*--------------------------------------End CSS Reset / Start General-------------------------------*/
/* line 116, main.scss */
body {
  background: #f7f7f7;
  background-size: cover;
  background-attachment: fixed;
  color: #f7f7f7;
  font: 62.5% "Raleway", sans-serif;
}

/* line 125, main.scss */
h1 {
  font-size: 4.5em;
  /*18x4*/
  line-height: 1.5;
}

/* line 131, main.scss */
h2 {
  font-size: 2.7em;
  /*18x3*/
  line-height: 1.5;
}

/* line 136, main.scss */
h3 {
  font-size: 3em;
  /*18x2 - 6*/
  line-height: 1.5;
}

/* line 141, main.scss */
p, ul, dl {
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* line 148, main.scss */
ul {
  line-height: 1.5;
}

/* line 152, main.scss */
a {
  text-decoration: none;
  color: #5d95ba;
  opacity: 1;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  outline: none;
}

/* line 160, main.scss */
a:visited {
  outline: none;
}

/* line 164, main.scss */
a:hover, input[type="submit"]:hover {
  opacity: .5;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
}

/* line 169, main.scss */
a.no-tran:hover {
  opacity: 1;
}

/* line 173, main.scss */
img {
  max-width: 100%;
}

/* line 177, main.scss */
textarea {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

/* line 181, main.scss */
button {
  background: #d3b148;
  color: #333333;
}

/*--------------------------------------End General / Start Objects------------------------------------*/
/* line 190, main.scss */
.hide-text {
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

/* line 196, main.scss */
.red {
  color: #a21d1b;
}

/* line 200, main.scss */
.underline {
  text-decoration: underline;
}

/* line 204, main.scss */
.login-form a:hover, .submit-button:hover {
  opacity: .5;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
}

/* line 209, main.scss */
.submit-button, input[type=submit] {
  width: 86px;
  height: 31px;
  background: #d3b148;
  border: none;
  color: #f7f7f7;
  text-transform: uppercase;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
}

/* line 222, main.scss */
.login-form input[type=text], .login-form input[type=password], .search-bar input[type=text] {
  font-size: 1.6em;
  width: 300px;
  height: 30px;
  border: none;
  padding-left: 5px;
  /*text-transform: uppercase;*/
}

/* line 231, main.scss */
.error {
  font-size: 1em;
  color: #a21d1b;
  position: absolute;
  opacity: 0;
  margin-top: -13px;
  font-size: .9em;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
}

/*--------------------------------------End Objects / Start Main------------------------------------*/
/* line 243, main.scss */
header {
  height: 90px;
  background: #333333;
  overflow: hidden;
  padding: 9px 3% 0;
}
/* line 249, main.scss */
header nav {
  display: inline-block;
  float: left;
  width: 16.66667%;
  margin-left: 83.33333%;
  margin-right: -100%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 255, main.scss */
header nav li {
  display: inline-block;
  padding-right: 7%;
  line-height: 90px;
}
/* line 261, main.scss */
header nav li:last-child {
  padding-right: 0;
}
/* line 265, main.scss */
header nav a {
  color: #f7f7f7;
}

/* line 274, main.scss */
.page {
  height: 720px;
  /*18x40*/
  padding: 0 3%;
}

/* line 280, main.scss */
.landing {
  height: 720px;
  background: #156fa4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #156fa4 0%, #10567f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #156fa4), color-stop(100%, #10567f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #156fa4 0%, #10567f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #156fa4 0%, #10567f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #156fa4 0%, #10567f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #156fa4 0%, #10567f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#156fa4', endColorstr='#10567f',GradientType=0 );
  /* IE6-9 */
}

/* line 286, main.scss */
.featured-info {
  float: left;
  width: 58.33333%;
  margin-left: 0%;
  margin-right: -58.33333%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 180px;
}
/* line 290, main.scss */
.featured-info p {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 2.3em;
}
/* line 295, main.scss */
.featured-info button {
  clear: left;
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  border: none;
  height: 54px;
  font-size: 2.1em;
  font-weight: 100;
}

/* line 304, main.scss */
.landing-img {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 180px;
}

/* line 309, main.scss */
.request {
  background: #ddebf3;
}

/* line 321, main.scss */
footer {
  height: 162px;
  padding: 14px 2% 0;
  background: #333333;
  margin-top: 108px;
  overflow: hidden;
}
/* line 328, main.scss */
footer p {
  float: left;
  width: 41.66667%;
  margin-left: 33.33333%;
  margin-right: -75%;
  padding-left: 4px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 162px;
}
/* line 334, main.scss */
footer img {
  padding-top: 40px;
}
